<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysis" ToolsVersion="16.0">
	<Include Path="allrules.ruleset" Action="Default" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1020" Action="None" />
		<Rule Id="CA1303" Action="None" />
		<Rule Id="CA1305" Action="None" />
		<Rule Id="CA1307" Action="None" />
		<Rule Id="CA1707" Action="None" />
		<Rule Id="CA1806" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
		<Rule Id="CS1591" Action="None" />
		<Rule Id="CS8002" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
		<Rule Id="CA1707" Action="None" />
		<Rule Id="CA1806" Action="None" />
		<Rule Id="CA1822" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
		<Rule Id="CA1303" Action="None" />
		<Rule Id="CA1305" Action="None" />
		<Rule Id="CA1307" Action="None" />
	</Rules>
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA0001" Action="None" />
		<Rule Id="SA1027" Action="None" />
		<Rule Id="SA1101" Action="None" />
		<Rule Id="SA1124" Action="None" />
		<Rule Id="SA1309" Action="None" />
		<Rule Id="SA1413" Action="None" />
		<Rule Id="SA1503" Action="None" />
		<Rule Id="SA1600" Action="None" />
		<Rule Id="SA1633" Action="None" />
		<Rule Id="SA1652" Action="None" />
	</Rules>
</RuleSet>
